*{
    box-sizing: border-box;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px 30px ;
    font-size: 15px;
    padding:8px
}
.container{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border:1px solid lightgray;
    border-radius: 5px ;
    margin-left: 10%;


}


input[type="text"]
input[type="email"]
input[type="password"]
input[type="date"]
input[type="number"]
select,
textarea{
    width:100%;
    padding:12px;
    border: 1px solid #ccc;
    border-radius: 10px ;
    margin:10px;


}
input[type="text"]{
    width:100%;
    padding:12px;
    border: 1px solid #ccc;
    border-radius: 10px ;
    margin:10px
}

input[type="email"]{
    width:100%;
    padding:12px;
    border: 1px solid #ccc;
    border-radius: 10px ;
    margin:10px;
}
input[type="password"]{
    width:100%;
    padding:12px;
    border: 1px solid #ccc;
    border-radius: 10px ;
    margin:10px;
}
input[type="date"]{
    width:100%;
    padding:12px;
    border: 1px solid #ccc;
    border-radius: 10px ;
    margin:10px;
}
input[type="number"]{
    width:100%;
    padding:12px;
    border: 1px solid #ccc;
    border-radius: 10px ;
    margin:10px;
}
.card_type[name="card_type"]{ 
    width:100%;
    padding:12px;
    border: 1px solid #ccc;
    border-radius: 10px ;
    margin:10px

}




fieldset{
    background-color:#fff ;
    border:1px solid #ccc;
    border-radius: 10px;
    width:100%

}


input[type="submit"]{
    background-color: #4daea1;
    color:white;
    width:20%;
    padding: 12px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
   margin-left: 10px;
    
    
    
}
input[type="submit"]:hover{
    background-color:#4caf84 ;
}
.box{
    width:100%;
    height:100%;
    border:none;
}
h1 {
    text-align: center;
    color: whitesmoke;
    background-color: rgb(168, 109, 31);
    border-radius: 10px;
}
hr{
    border-color: #462103;
}

img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    text-align-last: center;
}
.footer-list-1{
    float: left;
    width: 50%;
    margin-left: 15%;
}

/* .social-media{
    text-align: center;
} */
.footer-last{
    margin-top: 35px;
    text-align: center;
}
h3{
    font-size: 20px;
    font-weight: bold;
}
h4{
    font-size:15px
}

 /* .main-navigation ul {
    display: flex;
    justify-content: space-around; */
    /* padding: 5px; */
    /* border-radius: 5px; */
    /* line-height: 30px; */
    /* margin: 5px; */
    /* list-style-type: none; */
    /* width:100%; */
 .main-navigation ul{
float: left;
list-style: none;
line-height: 3;
margin-left: -50px;
}

.top-navigation ul li{
    line-height:1;
    font-size: 15px;
}
.top-navigation ul li label,button,a{
    line-height: 2;
    margin-top: 12px;
}

header .top-navigation ul{
    display: flex;
    list-style-type: none;

}
#one,#card{
    width: 150px;
}
.btn{
    border-color: gray;
    height:40px ;
}
#search{
    height: 40px;
}
label{
    margin-left: 10px;
    margin-top: 20px;
}
#two{
    margin-left: 10px;
    margin-top: 15px;
}
.pl-2{
    margin-top: 20px;
}
/* .btn-2{
margin: 25px;
} */

/* .checkbtn{
    width:10px;
} */
/* #check{
    display: none;
} */
.checkbtn{
    display: none;
    width:10px;
}
#check{
    display: none;
}
@media (max-width:950px) {
    label.log{
        font-size: 30px;
        padding-left:50px;
    }
    .main-navigation ul li a{
        font-size: 16px;
    }
   
}
@media (max-width:950px){
    .checkbtn{
        display: block;
    }
    ul{
        /* position: fixed; */
        width: 50%;
        height:100vh;
        top:80px;
        background-color: #2c3e50;
        text-align: center;
        left: -100%;
    }
    .main-navigation ul li{
        display: block;
    }
    .main-navigation ul li a{
        font-size: 20px;

    }
    a:hover{
        background-color: none;
        color: #f2fcff;
        font-size:30px ;
        border-radius: 20px;

    }
    #check:checked ~ ul{
        left:0;
        float: inline-end;
        display: block;
        
    }

}